.title {
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 5vh;
}

.buttons > button {
  flex: auto;
  max-width: 10%;
  min-width: fit-content;
  padding: 20px;
}

.results {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
